{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "extends": [
        "plugin:prettier/recommended"
    ],
    "rules": {
        "no-debugger": "error"
    }
}